version: 2.1
orbs:
  eventuate-gradle-build-and-test: "eventuate_io/eventuate-gradle-build-and-test@0.1.0"
workflows:
  version: 2
  build-test-and-deploy:
    jobs:
      - eventuate-gradle-build-and-test/build-and-test:
          name: mysql-binlog-kafka
          script: ./build-and-test-all-mysql-binlog-kafka.sh
      - eventuate-gradle-build-and-test/build-and-test:
          name: mysql-binlog-redis
          script: ./build-and-test-all-mysql-binlog-redis.sh
      - eventuate-gradle-build-and-test/build-and-test:
          name: postgres-wal-rabbitmq
          script: ./build-and-test-all-postgres-wal-rabbitmq.sh
      - eventuate-gradle-build-and-test/build-and-test:
          name: mssql-polling-activemq
          script: ./build-and-test-all-mssql-polling-activemq.sh

      - eventuate-gradle-build-and-test/build-and-test:
          name: mysql-binlog-kafka-dbid
          script: TEST_DB_ID=yes ./build-and-test-all-mysql-binlog-kafka.sh
      - eventuate-gradle-build-and-test/build-and-test:
          name: mysql-binlog-redis-dbid
          script: TEST_DB_ID=yes ./build-and-test-all-mysql-binlog-redis.sh
      - eventuate-gradle-build-and-test/build-and-test:
          name: postgres-wal-rabbitmq-dbid
          script: TEST_DB_ID=yes ./build-and-test-all-postgres-wal-rabbitmq.sh
      - eventuate-gradle-build-and-test/build-and-test:
          name: mssql-polling-activemq-dbid
          script: TEST_DB_ID=yes ./build-and-test-all-mssql-polling-activemq.sh

      - eventuate-gradle-build-and-test/build-and-test:
          name: deploy-artifacts
          script: ./deploy-artifacts.sh
          context:
            - publish
          requires:
            - mysql-binlog-kafka
            - mysql-binlog-redis
            - postgres-wal-rabbitmq
            - mssql-polling-activemq
            - mysql-binlog-kafka-dbid
            - mysql-binlog-redis-dbid
            - postgres-wal-rabbitmq-dbid
            - mssql-polling-activemq-dbid
