# CONNECTION
listen_addresses = '*'

# MODULES
shared_preload_libraries = 'wal2json'

# REPLICATION
wal_level = logical             # minimal, archive, hot_standby, or logical (change requires restart)
max_wal_senders = 1           # max number of walsender processes (change requires restart)
max_replication_slots = 1     # max number of replication slots (change requires restart)
